.login-cont {
  display: flex;
}

.left-cont {
  width: 50%;
  height: 100vh;
  background: #605bff;
}

.website-logo {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 10px;
}

.social-icons img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.website-logo h1 {
  font-family: Montserrat;
  font-size: 72px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.right-cont {
  background: #f8faff;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signIn-box {
  width: 433px;
  display: flex;
  align-items: left;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 10px;
}
.signIn-box p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin: 4px;
}
.inner-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right-cont h3 {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  text-align: left;
}

.right-cont p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.login-btns {
  display: flex;
  gap: 30px;
}
.applebutton{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8faff !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.login-btns button {
  width: 197.6px;
  height: 32.93px;
  /* background: hwb(240 72% 24%); */
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  border-radius: 8px;
}

.login-form {
  width: 422.64px;
  height: 347.99px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 15px 35px;
  margin: 20px 10px;
}

.login-form input {
  border-radius: 10px;
  text-indent: 10px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  width: 356.77px;
  height: 43.91px;
  background: #eaeaea;
}

.login-form span {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}

.login-form button {
  width: 356.77px;
  height: 43.91px;
  border-radius: 10px;
  background: #605bff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}


@media only screen and (max-width: 600px) {
  .login-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .left-cont {
    width: 100%;
    height: 30vh;
    background: #605bff;
  }

  .right-cont {
    background: #f8faff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }
  .signIn-box {
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .login-btns { 
    flex-direction: column;
  }
  .login-btns button {
    background: hwb(240 72% 24%);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    border-radius: 8px;
  }
  .login-form {
    height: 347.99px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 15px 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 10px;
    text-align: left;
  }
  .login-form input {
    border-radius: 10px;
    text-indent: 10px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    width:328px;
    height: 43.91px;
    background: #eaeaea;
  }
  .login-form button {
    width: 328px;
    height: 43.91px;
    border-radius: 10px;
    background: #605bff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
  }
 
  .website-logo h1 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: black;
    margin-right: 130px;
}
.website-logo {
  background: #605bff;
  height: 80%;
  width: 100%;
}
}